.users{
    display: flex;
    flex-wrap: wrap;
}

.user {
    background: #e5ffe5;
    /*background-color: #f6f6f6;*/
    width: 200px;
    height: 100px;
    margin: 10px;
    margin-left: calc(25% - 50px);
    margin-right: calc(25%- 50px);
    box-shadow: -10px 7px 17px -10px rgb(34 60 80 / 20%), -8px -8px 5px -8px rgb(34 60 80 / 20%);
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: #fd54a5;
}

.user-details {
    /*background: #e4d3fc;*/
    background: linear-gradient(45deg, rgb(187, 149, 225), rgb(136, 39, 38));
    width: 85%;
    max-width: 600px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
    border: 4px solid rgba(214, 141, 229, 0.76);
    box-shadow: 0 1px 2px 0 rgba(44,47,60,0.06), 0 3px 10px 0 rgba(44,47,60,0.09);
    color: #1f1f3b;
}
.postDetailsButton {
    width: 85%;
    height: 30px;
    margin: 0 auto;
    display: block;
    background: rgb(206, 136, 229);
    cursor: pointer;
    border-radius: 3px;

}
.posts {
    display: flex;
    flex-wrap: wrap;
}
.post {
    background: linear-gradient(45deg, rgb(192, 102, 99), rgb(187, 149, 225));
    margin: 10px;
    width: 200px;
    height: 180px;
    margin-left: calc(10% - 100px);
    margin-right: calc(10% - 100px);
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    border: 4px solid rgba(214, 141, 229, 0.76);
}

button{
    background: rgb(206, 136, 229);
    height: 30px;
    cursor: pointer;
    border-radius: 3px;
}
.postAdd {
    background: #e5ffe5;
    box-shadow: -10px 7px 17px -10px rgb(34 60 80 / 20%), -8px -8px 5px -8px rgb(34 60 80 / 20%);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    justify-content: center;
}
.comments {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.comments > li {
    max-width: 250px;
    background: #ff77b8;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 6px;
    box-shadow: -10px 7px 17px -10px rgba(165, 59, 185, 0.76), -8px -8px 5px -8px rgb(137, 137, 210);
}